@use "../vendors/variables" as *;

//  start-Block::contact hero

.secondary {
  background-color: rgb(229, 231, 235);
}
.hover {
  transition: all ease 0.3s;
  &:hover {
    border: $primary 3px solid;
    // background-color: $primary;
  }
}
.img__container {
  max-height: 150px;
}
.width-btn {
  width: 25% !important;
}

button {
  transition: all ease 0.4s;
  &:hover {
    background-color: #bc2341 !important;
  }
}
// .blob {
//   background: $primary;
//   // border-radius: 10%;
//   margin: 10px;
//   height: 20px;
//   width: 20px;
//   -webkit-border-radius: 10%;
//   -moz-border-radius: 10%;
//   -ms-border-radius: 10%;
//   -o-border-radius: 10%;
// }
.blob {
  text-align: center !important;
  //display: inline-block;
  background: $primary;
  //border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  box-shadow: 0 0 0 0 $primary;
  transform: scale(1);
  animation: pulse 2s infinite;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  &:hover {
    // color: $primary !important;
    background: #bc2341;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
//  end-Block::contact hero
