<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayman Fathy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../content/css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/main/main.css" />
    <link rel="stylesheet" href="../content/css/main/about.css" />
  </head>
  <body class="pt-5 mt-4">
    <!-- start-Block::  NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand fw-bold rounded-3 d-flex" href="../index.html"
          ><img
            src="../content/assets/images/logoo.png"
            class="d-block me-4"
            alt=""
          />
          <span class="border__bottom">A</span>yman &nbsp

          <span class="border__bottom">F</span>athy
        </a>

        <div class="ul__container" id="">
          <ul class="navbar-nav mb-2 mb-lg-0 navbar__ul ms-auto">
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                aria-current="page"
                href="../index.html"
                >Home</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3 active"
                href="about.html"
                >about</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                href="portfolio.html"
              >
                portfolio
              </a>
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                aria-disabled="true"
                href="contact.html"
                >contact</a
              >
            </li>
          </ul>
        </div>
        <div class="linkedin__container" id="">
          <a
            class="btn ms-auto fw-bold text-capitalize linkedin"
            href="https://www.linkedin.com/in/ayman-abdelrahman-333ab88b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin me-2"></i> let's connect
          </a>
        </div>
      </div>
    </nav>
    <!-- end-Block::  NAVBAR -->

    <main class="">
      <!-- start-Block:: introduction SEC -->

      <section
        class="header-sec text-center p-5 header__background text-white fw-bold"
      >
        <h2 class="text-center fw-bold fs-1">About me</h2>
        <span class="text-center d-block"
          ><a href="../index.html" class="fw-bold text-white hovr">Home</a>
          <i class="fa-solid fa-arrow-right"></i>
          <a href="about.html" class="fw-bold text-white hovr">About</a></span
        >
      </section>

      <!-- end-Block:: introduction SEC -->

      <!-- start-Block:: Biography__sec -->

      <section class="container mt-5 biography-sec rounded-3 mb-5">
        <div class="container p-5">
          <div
            class="d-flex justify-content-center align-items-center gap-5 mb-5 media-mobile__full"
          >
            <img
              src="../content/assets/images/ayman-small---.jpg"
              alt=""
              class="img-fluid resize rounded-5 m-mobile"
            />

            <div class="title-container">
              <h2 class="fw-bold text-dark fs-1 text-uppercase">
                Ayman Fathy Abdulrahman
              </h2>
              <p class="fw-bold primary fs-5 text-uppercase">
                Director Surveying manager at RME
              </p>
            </div>
          </div>
          <ul class="biography-ul text">
            <li class="biography-li mt-4">
              I am currently Corporate Surveying Manager with a rich background
              in the construction and engineering industry, dedicated to
              fostering excellence and innovation. My journey has been marked by
              a continuous pursuit of challenges and a relentless passion for
              improvement.
            </li>
            <li class="biography-li mt-4">
              As the Corporate Surveying Manager at Rowad Modern Engineering
              (Construction) since October 2015, I have been responsible for
              overseeing all surveying engineers, ensuring their seamless
              coordination across company projects. My role involves
              spearheading staff selection, promoting equal employment
              opportunities, and managing promotions. Additionally, I coordinate
              activities, set priorities, and direct subordinate employees,
              ensuring proper labor relations. I am also actively involved in
              preparing reports and effectively communicating survey results to
              other departments.
            </li>
            <li class="biography-li mt-4">
              During my tenure as Surveying Manager at Orascom Construction
              Industries Algeria from April 2014 to July 2015, I successfully
              led nine surveying teams in the accomplishment of underground
              infrastructure and construction works for the Algiers Refinery
              Rehabilitation and Adaptation project. Subsequently, in my role as
              Surveying Manager and Fit-Out Manager at Orascom Construction
              Industries Egypt from September 2012 to April 2014, I took charge
              of surveying and finishing teams, overseeing the construction of
              KSA Annex Zamalek. This turnkey project involved intricate tasks
              such as managing reinforced piles and ensuring the completion of
              multiple floors, showcasing my expertise in surveying and project
              management.
            </li>
            <li class="biography-li mt-4">
              Throughout my career, I have achieved significant milestones by
              successfully managing the construction of various high-profile
              projects, showcasing my expertise in surveying, staff management,
              and effective project coordination. My ability to navigate and
              address complex construction challenges has been instrumental in
              ensuring that each project adheres to the highest specifications
              and standards, underscoring my commitment to delivering excellence
              in every aspect of my professional endeavors.
            </li>
            <li class="biography-li mt-4">
              I earned my degree in Civil, Surveying Engineering from the
              Faculty of Engineering in Shoubra, Cairo, Egypt, completing my
              studies from 1989 to 1994. In addition to my academic background,
              I have enriched my skill set through various certifications and
              courses, including the General Health & Safety Awareness Course
              for Site Managers & Supervisors from Mesafe Limited in September
              2003, OSHA General Industry (30-Hours), and OSHA Construction
              Industry (30-Hour). Complementing my technical expertise, I have
              successfully completed English Business Courses at the British
              Council up to an Advanced Level. Notably, my language proficiency
              extends to being a native Arabic speaker and interpreting English
              with expertise. Moreover, I possess an intermediate proficiency in
              French, further enhancing my ability to engage with a diverse
              spectrum of stakeholders in the field.
            </li>
            <li class="biography-li mt-4">
              With a career spanning since 1995, I have consistently showcased
              strong leadership and technical expertise in diverse and
              challenging projects.
            </li>
          </ul>

          <a
            href="#"
            class="btn bg__primary text-white fw-bold d-block w--- m-auto hover__btn-primary"
            >More Details <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </section>

      <!-- end-Block:: Biography__sec -->
      <!-- start-Block:: FOOTER -->
      <footer class="footer mt-auto">
        <div class="footer__container container p-3 align-items-center">
          <div class="row text-center align-items-center">
            <a
              href="../index.html"
              class="img__container col-md-4 col-sm-12 d-block text-center"
            >
              <img
                src="../content/assets/images/logoo.png"
                class="d-block footer-logo__width p-2 mx-auto"
                alt=""
              />
            </a>
            <div class="copy-rights fw-bold text-white fs-5 col-md-4 col-sm-12">
              2023 © Ayman Fathy Abdulrahman
            </div>
            <div class="social-media__platforms col-md-4 col-sm-12 flex-nowrap">
              <a
                href="https://www.linkedin.com/in/ayman-abdelrahman-333ab88b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a
                href="mailto:ayman1971@gmail.com"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-solid fa-envelope"></i
              ></a>
              <a
                href="tel:0201001596496"
                target="_blank"
                class="phone-icon text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
              >
                <i class="fas fa-phone"></i>
              </a>
              <a
                href="https://www.facebook.com/AYMAN1971?mibextid=ZbWKwL"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a
                href="https://x.com/ayman19710?t=5-2no1Vqug9HRBMi-MghZA&s=09"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-x-twitter"></i
              ></a>
            </div>
            <div
              class="copy-rights-phone d-none fw-bold text-white fs-5 col-md-4 col-sm-12"
            >
              2023 © Ayman Fathy Abdulrahman
            </div>
          </div>
        </div>
      </footer>
      <!-- end-Block:: FOOTER-->
    </main>
    <!-- start-Script::-->
    <script src="../content/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../content/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../content/js/main/main.js"></script>
    <!-- end script tag -->
  </body>
</html>
